<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Germantom_Emailservice::emailservice" title="Germantom Emailservice" module="Germantom_Emailservice" sortOrder="900" resource="Germantom_Emailservice::emailservice" translate="title" action="emailservice"/>        
    </menu>
</config>